*{
    margin: 0;
}
body{
    font-family: 'Lora', serif;
}
.container{
    width: 1200px;
    margin: auto;
}
.menu{
    text-align: center;
    display: block;
    color: white;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline-block;
    padding: 20px 40px;
    color: white;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
h1{
    font-size: 50px;
}
h3{
    color: white;
}
.orange-color{
    color:rgb(240, 101, 50);
}
p{
    font-size: 20px;
    margin: 20px 0 20px 0;
}
.for-order{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 30px;
    border-radius:50px;
    display: inline-block;
    margin: 20px 0 0 0;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.flexible-container{
    display:flex ;
    margin: 150px;
    align-items: center;
}
#myself-bg{
    background-image: url(photos/background.png);
    background-repeat: no-repeat;margin-left: 10px;
   
    
}
#foods .section-heading{
    text-align: center;
    color: rgb(47, 47, 47);
}
#foods .sub-heading{
    text-align: center;
    opacity: 0.7;
    width: 50%;
    margin:20px auto;
}
#foods .flex-container{
    gap: 5%;
}
#foods ul{
    list-style-type: none;
}
#foods .flex-item{
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: rgb(30 20 26 / 15%) 0px 48px 100px 0px;
}
#foods img{
    border-radius: 15px;
    height: 400px;
    width: 400px;
    

}
#foods .food-title{
    font-size: 28px;
    margin-top: 25px;
    color: #2f2e2e;
}
#foods .food-desc{
    opacity: 0.8;
    letter-spacing: 1px;
}
img{
    width: 100%;
}
   .flex-container{
       display: flex;
       width: 100%;
       align-items: center;
       margin: auto;
       margin-bottom: 100px;
   }
   #food-lovers{
       background-color: black;
       padding: 10px 10px 70px;
       
   }
#about-section{
    padding: 70px 0 0;
    background: url(photos/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.about-details{
    overflow: hidden;
}
.about-half-img{
    float: left;
    width: 50%;
}
.about-half-img img{
    width: 270px;
    margin-top: 60px;
}
.about-half-txt{
    margin: 90px 0 50px 0;
    float: right;
    width: 50%;
}
.about-half-txt h2{
    font-size: 36px;
    margin-bottom: 15px;
}
.about-half-txt p{
    margin: 0px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 32px;
    margin-right: 70px;
}
.about-btn {
    text-decoration: none;
    color: white;
    padding: 13px 19px;
    background: linear-gradient(
45deg
, #06317f, rgb(118 41 13));
    border-radius: 22px;
    display: inline-block;
    margin-top: 43px;
}
#foods{
    
padding: 70px 0 0;
}